.login-backgroundimg{
    background-image: url("/public/icon-background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 888;
}

/// label
label.header-text {
    font-size: 14px !important;
    font-weight: bold;
}

label.value-text {
    font-size: 12px !important;
}


label.table-column-text-unread {
    font-size: 11px !important;
    font-weight: bold;
}

label.table-column-text {
    font-size: 10px !important;
}

label.table-column-text11 {
    font-size: 11px !important;
}

label.table-column-text12 {
    font-size: 12px !important;
}

label.table-column-text14 {
    font-size: 14px !important;
}


label.text-hover:hover {
    text-decoration: underline;
    text-decoration-color: #1890ff;
    color: #1890ff;
    cursor: pointer;
}

label.text-link {
    color: #1890ff;
}

label.text-link:hover {
    text-decoration: underline;
    text-decoration-color: #1890ff;
    color: #1890ff;
    cursor: pointer;
}


label.noti-text-unread {
    font-size: 12px !important;
    font-weight: bold;
}

label.noti-text {
    font-size: 12px !important;
}


label.topic-text {
    font-size: 18px !important;
    margin-bottom: 16px;
}

label.card-title-menu {
    font-size: 16px;
    color: rgb(0, 116, 224);
}

label.user-login {
    font-size: 14px;
    color: #fff;
    margin-right: 16px;
}

label.text-hover-blue:hover {
    text-decoration: underline;
    text-decoration-color: #1890ff;
    cursor: pointer;
}

label.table-column-detail {
    color: orange;
    text-decoration-color: orange !important;
    font-size: 12px !important;
    cursor: pointer;

}

label.table-column-detail:hover {

    text-decoration: underline;
    text-decoration-color: orange;
    font-size: 12px !important;
    cursor: pointer;
}

label.dashboard-card-status {
    font-size: 14px;
    color: gray;
}

label.dashboard-card-value {
    font-size: 24px;
}

label.blinktext {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0.1;
    }
  }

/// div
div.issue-detail-box {
    border: solid 1px;
    border-color: rgb(223, 225, 230);
    width: 100%;
    //display: inline-block;
    padding: 16px;
    margin-top: 16px;

}

div.sd-page-header {
    margin-top: 10px;
    margin-bottom: 30px;
}

div.sd-page-topic {
    margin-top: 10px;
    margin-bottom: 20px;
}

div.sticky-background {
    background-image: url("/space/sticky-note.png") !important;
    // background-size: 300px;
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


//////////////////////////////////////////// Class ////////////////////////////////////////////
.icon-link-hover:hover{
    text-decoration: underline;
    text-decoration-color: #1890ff;
    color: red;
    cursor: pointer;
}

.icon-link-delete:hover{
    text-decoration: underline;
    text-decoration-color: #1890ff;
    color: red;
    cursor: pointer;
}


.issue-description {
    font-size: 12px !important;
    img {
       max-width: 20%;
    //    width: auto;
       height: auto;
       cursor: pointer;
    }
}
.comment-description {
    font-size: 12px !important;
    img {
       max-width: 20%;
    //    width: auto;
       height: auto;
       cursor: pointer;
    }
}


///// Card
.card-box {
    width: 100%;
    // margin-top: 16px;
    min-height: 50px;
}

.issue-card-box {
    width: 100%;
    margin-top: 16px;
    min-height: 200px;
}

.issue-active:hover {
    border: 1px solid;
    color: #1890ff;
}

.task-active:hover {
    // border: 1px solid;
    // color: #1890ff;
    background-color: rgb(214, 211, 211);
    cursor: pointer;
   // box-shadow: 5px 10px 50px rgba(0,0,0,.2);
}

.icon-hover:hover {
    text-decoration: underline;
    text-decoration-color: #1890ff;
    color: #1890ff;
    cursor: pointer;
}


// table
.table-hover,
.table-hover > td  {
     background-color:#EDEBEC !important;
}

.table-unread {
    font-weight: bold;
}


.sla-warning {
    color: #fa8c16;
}
.sla-overdue {

    background-color: #ff4d4f;
    color: #fff;
}

.ant-input-number-input {
  text-align: right;
}

.modal-button-save {
    background-color: #00CC00;
}

.ant-spin-nested-loading {
 height: 100%;
}

.ant-spin-container{
  height: 100%;
}


////////////////////////////////////////////////// Card  //////////////////////////////////////////////////
.card-container p {
    margin: 0;
  }
  .card-container > .ant-tabs-card .ant-tabs-content {
   height: 380px;
    margin-top: -16px;
  }
  .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding: 16px;
    background: #fff;
  }
  .card-container > .ant-tabs-card > .ant-tabs-nav::before {
    display: none;
  }
  .card-container > .ant-tabs-card .ant-tabs-tab,
  [data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
    background: transparent;
    border-color: transparent;
  }
  .card-container > .ant-tabs-card .ant-tabs-tab-active,
  [data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
    background: #fff;
    border-color: #fff;
  }

  .card-dashboard {
      border-radius: 25px;
  }


////////////////////////////////////////////////// ant  //////////////////////////////////////////////////
.ant-menu-inline-collapsed {
    width: 79px;
    div {
        width: 30px;
    }
}

.ant-input-number:hover{
    padding-right: 20px;
}

// .tab-sticky.ant-tabs {
//     position: sticky;
//     bottom: 0px;
//     background-color: #00CC00;
// }

.header-custom .ant-table-thead > tr > th{
    position: sticky;
    top:0px;
    background-color: #E0E0E0;
    color: #595959;
    z-index: 9999999;
  }

// .text-size .ant-table-tbody > tr > td {
//     font-size: 12px;
//     padding: 2px, 2px;
// }

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    font-size: 12px;
    padding: 0px, 10px;
}

.ant-layout-sider-children {
    cursor: pointer;
}

.ant-layout-sider-children  {
    .btn-collapsed {
        cursor: pointer;
        visibility: hidden;
        transition:  visibility 0s, opacity 0.5s linear;
        opacity: 0;
        border-radius: 30;
        background-color: white;
        position: absolute;
    }
}

.ant-layout-sider-children:hover  {
    .btn-collapsed {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        border-radius: 30;
        background-color: white;
        position: absolute;
    }
    .btn-collapsed:hover {
        background-color:#BE1E2D;
    }
    // .btn-collapsed:hover {
    //     background-color: #DEEBFF;
    // }
}

.tag-custom-height.ant-tag {
  background-color:#00CC00;
   line-height: 10px;
   color:#fff;
}
